body {
  background-color: #eee;
  font-family: "Roboto Condensed";
}

.view-container {
  width: 90%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 5%;
  margin-top: 50px;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}
.viewer {
  width: 100%;
  height: 100%;
  color: #000000 !important;
}
.property-inof-address,
.property-inof-price {
  width: 400px;
  height: 50px;
  background-color: #1111116c;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  bottom: 70px;
  z-index: 100;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.property-inof-address {
  bottom: 130px;
}

.property-inof-address p,
.property-inof-price p {
  padding-left: 20px;
}

.full-visit {
  width: 400px;
  height: 50px;
  background-color: blue;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.full-visit p {
  padding-left: 20px;
}

.search {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 5%;
  margin-top: 50px;
  position: relative;
  cursor: pointer;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 85%;
  height: 100%;
  background-color: white;
  border: none;
  font-size: 24px;
  padding-left: 10px;
  font-family: "Roboto Condensed" !important;
}

.search button {
  width: 15%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  cursor: pointer;
}

.search button img {
  width: 40px;
  margin-right: 10px;
}

.like-icon {
  width: 40px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.make-call {
  width: 60px;
  height: auto;
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 10px;
  top: 10px;
  left: 10px;
  position: absolute;
  padding: 10px;
}
@media (max-width: 800px) {
  .view-container {
    width: 96%;
    height: 500px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 30px;
  }

  .property-inof-address,
  .property-inof-price {
    width: auto;
    height: 40px;
    border-radius: 5px;
    left: 5px;
    bottom: 50px;
    font-size: 20px;
    padding: 5px;
  }

  .property-inof-address {
    bottom: 95px;
  }

  .property-inof-address p,
  .property-inof-price p {
    padding-left: 10px;
  }

  .full-visit {
    width: auto;
    height: 40px;
    border-radius: 5px;
    left: 5px;
    bottom: 5px;
    font-size: 20px;
    padding: 5px;
  }

  .full-visit p {
    padding-left: 10px;
  }

  .search {
    width: 96%;
    height: 40px;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 30px;
  }

  .search input {
    width: 85%;
    height: 100%;
    font-size: 20px;
    padding-left: 10px;
  }

  .search button {
    width: 15%;
    height: 100%;
  }

  .search button img {
    width: 35px;
  }

  .like-icon {
    width: 40px;
    top: 5px;
    right: 5px;
  }

  .make-call {
    width: 50px;
    border-radius: 10px;
    top: 5px;
    left: 5px;
    padding: 10px;
  }

}
